.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.containDados {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 420px;
    padding: 24px;
}
.containDados p {
    background-color: #524a4a75;
    border: none;
    color: rgba(22, 21, 21, 0.718);
    font-size: 24px;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    font-weight: 600;
}
